<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @krish.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @krish.location %>
</p>

<p>
  <strong>Is succes:</strong>
  <%= @krish.is_succes %>
</p>

<p>
  <strong>User count:</strong>
  <%= @krish.user_count %>
</p>

<p>
  <strong>Employe:</strong>
  <%= @krish.employe_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @krish.user_id %>
</p>

<%= link_to 'Edit', edit_krish_path(@krish) %> |
<%= link_to 'Back', krishes_path %>
